

<div class="container">
  <div class="row">
    <form class="col offset-s2 s8" action="/songs" method="post">
      <h1 class="center">What incredible song did you want to add?</h1>
      <% if @song.errors.any? %>
        <div class="">
          <strong>Some issues with the song you are trying to add! Let's fix these:</strong>
          <ul>
            <% @song.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="row">
        <div class="input-field col s6">
          <label> Song Title:</label>
          <input type="text" name="song_title" value="<%= @song.song_title %>">
        </div>
        <div class="input-field col s6">
          <label> Artist:</label>
          <input  type="text" name="author" value="<%= @song.author %>">
        </div>
      </div>
      <div class="input-field col s12">
        <label> Spotify Link:</label>
        <input type="text" name="url" value="<%= @song.url %>">
      </div>
      <div class="center">
        <button class="btn waves-effect waves-light amber accent-4" type="submit" value="submit">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
